version: '3.8'
services:
  angular-dev:
    image: node:20
    working_dir: /app
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/app:cached
      - /app/node_modules
    ports:
      - "4000:4000"
      - "4200:4200"
    command: sh -c "npm ci && npm run dev:ssr"
