/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5 url('/github-background.svg') no-repeat 70% top;
}

body,
input,
button {
  font-size: 16px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

/* Animation */

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translate3d(-60px, 0px, 0);
  }
  to {
    opacity: 1;
    transform: rotate3d(0, 0, 0);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translate3d(0px, -30px, 0px);
  }
  to {
    opacity: 1;
    transform: rotate3d(0px, 0px, 0px);
  }
}
